<!DOCTYPE html>
<html>
  <head>
    <title>Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <div class="container">
      <% unless mobile? %>
        <%= link_to "Home", root_path %>
        <%= link_to "Posts", posts_path %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
